<div class="form-container">
  <h2 class="form-title">Editar Perfil</h2>
  <form [formGroup]="userForm" (ngSubmit)="saveProfile()">
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
  </form>
  <hr>
  <div *ngIf="!passwordChangeMode">
    <button mat-stroked-button color="accent" (click)="enablePasswordChange()">Cambiar Contraseña</button>
  </div>
  <form *ngIf="passwordChangeMode" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
        La contraseña debe tener al menos 7 caracteres.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Guardar Contraseña</button>
  </form>
</div>
