<div class="sidebar-container" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <button
      mat-icon-button
      (click)="toggleSidebar()"
      aria-label="Toggle sidebar"
      class="menu-button"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-title" *ngIf="!isCollapsed">Menú</span>
  </div>

  <nav class="sidebar-nav">
    <!-- Enlace para "Mis tickets" -->
    <a
      mat-list-item
      (click)="goToHomeAndRefresh()"
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Home"
      class="nav-item"
    >
      <mat-icon class="nav-icon">home</mat-icon>
      <span class="nav-text" *ngIf="!isCollapsed">Mis tickets</span>
    </a>

    <!-- Enlace para "Crear Ticket" (solo para usuarios) -->
    <a
      mat-list-item
      *ngIf="userRole === 'user'"
      routerLink="/create-ticket"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Create Ticket"
      class="nav-item"
    >
      <mat-icon class="nav-icon">add_circle</mat-icon>
      <span class="nav-text" *ngIf="!isCollapsed">Crear Ticket</span>
    </a>

    <!-- Enlace para "Crear Usuario" (solo para administradores) -->
    <a
      mat-list-item
      *ngIf="userRole === 'admin'"
      routerLink="/create-user"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Create User"
      class="nav-item"
    >
      <mat-icon class="nav-icon">person_add</mat-icon>
      <span class="nav-text" *ngIf="!isCollapsed">Crear Usuario</span>
    </a>

    <!-- Enlace para "Gestionar Usuarios" (solo para administradores) -->
    <a
      mat-list-item
      *ngIf="userRole === 'admin'"
      routerLink="/manage-users"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Manage Users"
      class="nav-item"
    >
      <mat-icon class="nav-icon">group</mat-icon>
      <span class="nav-text" *ngIf="!isCollapsed">Gestionar Usuarios</span>
    </a>

    <!-- Enlace para "Editar Perfil" (todos los usuarios) -->
    <a
      mat-list-item
      routerLink="/profile"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="Editar Perfil"
      class="nav-item"
    >
      <mat-icon class="nav-icon">account_circle</mat-icon>
      <span class="nav-text" *ngIf="!isCollapsed">Editar Perfil</span>
    </a>
  </nav>
</div>
